//En este archivo se alojaran las variables de nuestro proyecto

//Colors
$color-title:#fff;
$color-subtitl:#fff;
$hover-navbar:#5c71e9; 


//BACKGROUND
$background-header:#221A40;
$background-button:#2e193b;
$background_section-index:#143C8C;
$background_footer:#0D0D0D;

//FONTSIZE
$title:24px;
$subtitle:15px;
$parrafo_size:15px;
$parrafo_weight:300;

