@media screen and (max-width: 950px) {
    .form-wrap{
        width: 100%;
        background: red;
      .contact_info{
          width: 100%;
          background: red;
          flex-wrap: wrap;
      }
    }
} 