* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #221A40;
}

.menu {
  background-color: #221A40;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fdfdfd;
  box-shadow: 5px 0 10px rgba(6, 234, 250, 0.815);
}
.menu .logo {
  margin-left: 100px;
  width: 10%;
}
.menu .menu_items {
  display: flex;
  list-style: none;
  margin-right: 300px;
}
.menu .menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}
.menu .menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.menu .menu_items li:hover {
  background-color: rgba(112, 200, 250, 0.6);
  transition: 0.4s;
}
.menu .btn_menu {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.menu ul.show {
  top: 65px;
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .menu .btn_menu {
    font-size: 30px;
    margin-right: 20px;
    display: inline-flex;
  }
  .menu .logo {
    width: 10%;
  }
  .menu .menu_items {
    position: fixed;
    width: 100%;
    height: calc(100% -65px);
    background: #bebebe;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  .menu .menu_items li a:hover {
    color: #e9183b;
  }
  .menu .menu_items li:hover {
    background: none;
  }
}
header {
  width: 100%;
}
header .container_header {
  width: 100%;
  background: url(/assets/images/background-head.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container_header .principal-title {
  width: 50%;
  color: #fff;
  margin-bottom: 100px;
}
header .container_header .principal-title h1 {
  font-size: 80px;
}
header .container_header .principal-title h2 {
  font-size: 25px;
  font-weight: bold;
}
header .container_header .principal-title p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
}
header .container_header img {
  margin-top: 5px;
  width: 35%;
}

@media screen and (max-width: 952px) {
  header .container_header .principal-title {
    margin-top: 50px;
  }

  img {
    align-self: flex-end;
  }
}
.section_music {
  width: 100%;
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.section_music .title_section {
  margin-top: 70px;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
}
.section_music .articulos {
  width: 100%;
}
.section_music .articulos .articulo-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 70px;
}
.section_music .articulos .articulo-left .text-articulo {
  margin-left: 30px;
  width: 30%;
}
.section_music .articulos .articulo-left .text-articulo h2 {
  color: #fff;
}
.section_music .articulos .articulo-left .text-articulo p {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}
.section_music .articulos .articulo-left img {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 20%;
  margin-left: 150px;
  transition: all 300ms;
}
.section_music .articulos .articulo-left img:hover {
  transform: scale(1.05);
}
.section_music .articulos .articulo-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 70px;
}
.section_music .articulos .articulo-right .text-articulo {
  margin-right: 20px;
  width: 30%;
}
.section_music .articulos .articulo-right .text-articulo h2 {
  color: #fff;
}
.section_music .articulos .articulo-right .text-articulo p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  font-weight: 300;
}
.section_music .articulos .articulo-right img {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 20%;
  margin-right: 150px;
  margin-bottom: 30px;
  transition: all 300ms;
}
.section_music .articulos .articulo-right img:hover {
  transform: scale(1.05);
}

#contenedor-repro {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#contenedor-repro .title_ {
  width: 100%;
  height: 250px;
}
#contenedor-repro .title_ h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #fff;
}
#contenedor-repro .title_ h2 span {
  font-weight: bold;
  font-size: 50px;
}
#contenedor-repro #contenido {
  width: 50%;
}
#contenedor-repro #contenido h2 {
  text-align: center;
}
#contenedor-repro #contenido .article-repro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
#contenedor-repro #contenido .text-repro {
  color: #fff;
  width: 40%;
  margin-left: 20px;
}
#contenedor-repro #contenido .text-repro h1 {
  color: #fff;
}
#contenedor-repro #contenido .text-repro h1 span {
  font-weight: bold;
}
#contenedor-repro #contenido .text-repro p {
  font-size: 15px;
  font-weight: 300;
}
#contenedor-repro #contenido .fm-video {
  width: 300px;
  height: 500px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
#contenedor-repro #contenido .vjs-control-bar {
  background: rgba(0, 0, 0, 0.2);
  color: #1d87d8;
}
#contenedor-repro #contenido .vjs-play-progress .vjs-volume-level {
  background: #1d97d8;
}
#contenedor-repro #contenido .vjs-slider {
  background: #fff;
}
#contenedor-repro #contenido .video-js:hover .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2);
}
#contenedor-repro #contenido .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: none;
}
#contenedor-repro #contenido .vjs-big-play-button:hover {
  background: rgba(0, 0, 0, 0.5);
}
#contenedor-repro .contenido_2 {
  width: 50%;
  height: 500px;
}
#contenedor-repro .contenido_2 .article-2 {
  margin: 0 auto;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#contenedor-repro .contenido_2 .article-2 .text_2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#contenedor-repro .contenido_2 .article-2 .text_2 audio {
  margin-left: 60px;
}
#contenedor-repro .contenido_2 .article-2 .text_2 a {
  padding-top: 20px;
  margin: 0 auto;
}
#contenedor-repro .contenido_2 .article-2 .text_2 h2 {
  color: #fff;
  text-align: center;
}
#contenedor-repro .contenido_2 .article-2 .text_2 h2 span {
  font-weight: bold;
  text-transform: uppercase;
  color: #be1a1a;
}
#contenedor-repro .contenido_2 .article-2 .text_2 p {
  color: #fff;
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 952px) {
  #contenedor-repro #contenido .article-repro .text-repro {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 858px) {
  #contenedor-repro {
    height: 100;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  #contenedor-repro #contenido {
    margin-top: 20px;
    width: 90%;
  }
  #contenedor-repro #contenido .article-repro p {
    width: 50%;
  }
  #contenedor-repro .contenido_2 {
    margin-top: 20px;
    width: 70%;
  }
  #contenedor-repro .contenido_2 .article-2 {
    width: 100%;
  }
  #contenedor-repro .contenido_2 .article-2 .text_2 {
    width: 100%;
  }
  #contenedor-repro .contenido_2 .article-2 .text_2 audio {
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 150px;
  }
}
@media screen and (max-width: 750px) {
  #contenedor-repro .title_ {
    margin-top: 20px;
  }
  #contenedor-repro #contenido {
    width: 100%;
  }
  #contenedor-repro #contenido .article-repro p {
    width: 100%;
  }
  #contenedor-repro #contenido .fmv-ideo {
    width: 10px;
  }
  #contenedor-repro .contenido_2 .text-2 {
    width: 50%;
  }
  #contenedor-repro .contenido_2 .text-2 audio {
    margin-left: 0;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 952px) {
  .section_music .articulos .articulo-left img {
    align-self: flex-start;
    width: 30%;
  }
  .section_music .articulos .articulo-right img {
    align-self: flex-start;
    width: 30%;
  }
}
@media screen and (max-width: 750px) {
  .section_music .articulos .articulo-left {
    margin: 0 auto;
    width: 100%;
  }
  .section_music .articulos .articulo-left img {
    width: 40%;
  }
  .section_music .articulos .articulo-right img {
    width: 40%;
  }
}
footer {
  width: 100%;
  height: 100%;
  background-color: #0D0D0D;
}
footer .container-footer {
  width: 100%;
  padding: 10px 50px;
  display: flex;
}
footer .container-footer .footer-left {
  width: 30%;
  height: 300px;
}
footer .container-footer .footer-left .text-footer {
  margin-top: 30px;
  margin-left: 20px;
}
footer .container-footer .footer-left .text-footer h3 {
  color: #fff;
}
footer .container-footer .footer-left .text-footer p {
  font-size: 12px;
  color: #fff;
}
footer .container-footer .footer-left .text-footer img {
  padding-bottom: 20px;
  width: 40%;
}
footer .footer-right {
  width: 70%;
}
footer .footer-right .contenedor-links {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
footer .footer-right ul {
  list-style: none;
}
footer .footer-right ul li {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
}
footer .footer-right h2 {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
footer .footer-right .social-media {
  text-align: center;
}
footer .footer-right .social-media i {
  font-size: 20px;
  text-align: center;
}
footer .footer-right .social-media .fa-linkedin-in {
  color: #2867b2;
}
footer .footer-right .social-media .fa-github {
  color: #fff;
}
footer .footer-right .social-media .fa-instagram {
  border-radius: 3px;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
footer .footer-right .social-media .fa-facebook-f {
  color: #3b5998;
}

@media screen and (max-width: 858px) {
  .container-footer .footer-left .text-footer {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .container-footer .footer-left .text-footer {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  footer {
    flex-direction: column;
  }
  footer .container-footer {
    flex-direction: column;
    justify-content: space-between;
  }
  footer .container-footer .footer-left {
    width: 100%;
  }
  footer .container-footer .footer-left .text-footer {
    margin: 0 auto;
    width: 70%;
  }
  footer .container-footer .footer-left .text-footer p {
    width: 100%;
  }
  footer .container-footer .footer-left img {
    margin-left: 70px;
  }
  footer .container-footer .footer-right {
    width: 100%;
  }
}
.section-trends .container-trends {
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.459)), url(/assets/images/background-trend.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section-trends .container-trends .container-img {
  margin: 0 50px;
  height: 300px;
}
.section-trends .container-trends .container-img img {
  width: 500px;
}
.section-trends .container-trends .radio {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-trends .container-trends .radio .text-radio {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.section-trends .container-trends .radio .text-radio h2 {
  color: #fff;
}
.section-trends .container-trends .radio .text-radio h2 span {
  color: #be1a1a;
  font-weight: 300;
}
.section-trends .container-trends .radio .text-radio i {
  color: #fff;
  margin-left: 20px;
  font-size: 35px;
}
.section-trends .container-trends .container-text {
  width: 500px;
  height: 400px;
  margin-top: 30px;
  background: linear-gradient(#000428, #004e92);
}
.section-trends .container-trends .container-text h1 {
  color: #fff;
  margin-top: 40px;
  text-align: center;
}
.section-trends .container-trends .container-text p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin: 0 auto;
  width: 80%;
}
.section-trends .container-trends .container-text .center-button {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-spotify {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #4b6cb7, #182848);
}
.section-spotify .text-spotify {
  background: url(/assets/images/headphones.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: left;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.section-spotify .text-spotify h2 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
}
.section-spotify .text-spotify h2 span {
  color: #1DB954;
}
.section-spotify .text-spotify p {
  font-size: 15px;
  font-weight: 300;
  padding-top: 15px;
  color: #fff;
  margin: 0 auto;
  width: 40%;
}
.section-spotify .text-spotify a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #1DB954;
  font-size: 50px;
  transition: all 200ms;
  cursor: pointer;
}
.section-spotify .text-spotify a:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 950px) {
  .section-trends .container-trends {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .section-trends .container-trends .container-img {
    margin-top: 20px;
    margin-left: 250px;
  }
  .section-trends .container-trends .container-img img {
    margin: 0 auto;
    width: 70%;
  }
  .section-trends .container-trends .container-text {
    width: 40%;
  }
  .section-trends .container-trends .container-text h1 {
    font-size: 30px;
  }
  .section-trends .container-trends .container-text p {
    width: 80%;
  }
  .section-trends .container-trends .container-text a .btn {
    font-size: 10px;
    width: 100px;
    height: 40px;
  }
  .section-trends .container-trends .radio iframe {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .section-trends .container-trends .container-img {
    margin-left: 200px;
  }
  .section-trends .container-trends .container-img img {
    width: 80%;
  }
  .section-trends .container-trends .container-text {
    width: 60%;
  }

  .section-spotify {
    height: 400px;
  }
}
@media screen and (max-width: 650px) {
  .section-trends .container-trends .container-img {
    margin-left: 100px;
  }
  .section-trends .container-trends .container-img img {
    width: 90%;
  }
  .section-trends .container-trends .container-text {
    width: 80%;
  }

  .section-spotify {
    height: 450px;
  }
}
@media screen and (max-width: 480px) {
  .section-trends .container-trends .container-img {
    margin-left: 50px;
  }
  .section-trends .container-trends .container-img img {
    width: 100%;
  }

  .section-spotify .text-spotify p {
    width: 90%;
  }
}
.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  background: #fff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.form_wrap .contact_info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #272424;
  opacity: 0.3;
}
.form_wrap .contact_info {
  width: 38%;
  position: relative;
  background-image: url("/assets/images/background-form.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_wrap .contact_info .info_title, .form_wrap .contact_info .info_items {
  position: relative;
  z-index: 2;
  color: #fff;
}
.form_wrap .contact_info .info_title {
  margin-bottom: 60p;
}
.form_wrap .contact_info .info_title img {
  margin-left: 110px;
  width: 50%;
}
.form_wrap .contact_info .info_title h2 {
  font-size: 35px;
  text-align: center;
}
.form_wrap .contact_info .info_items p {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
.form_wrap .contact_info .info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px;
}
.form_wrap .contact_info .info_items p:nth-child(2) span {
  font-size: 40px;
  margin-right: 15px;
  margin-left: 4px;
}
.form_wrap .form_contact {
  width: 62%;
  padding: 30px 40px;
}
.form_wrap .form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}
.form_wrap .form_contact .user_info {
  display: flex;
  flex-direction: column;
}
.form_wrap .form_contact .label {
  font-weight: 600;
}
.form_wrap .form_contact input, .form_wrap .form_contact textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  padding: 8px 0 5px;
  margin-bottom: 20px;
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}
.form_wrap .form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}
.form_wrap .form_contact input[type=submit] {
  width: 180px;
  background: #6508cf;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.form_wrap .form_contact input[type=submit]:hover {
  background: #5105a7;
}

@media screen and (max-width: 950px) {
  .form-wrap {
    width: 100%;
    background: red;
  }
  .form-wrap .contact_info {
    width: 100%;
    background: red;
    flex-wrap: wrap;
  }
}
.about_section {
  background: url(/assets/images/background_about.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_section .about_container {
  width: 30%;
  height: 500px;
  padding-top: 20px;
}
.about_section .about_container h2 {
  color: #000;
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;
}

.about_section2 .contenedor-links {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about_section2 .contenedor-links p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 5px;
  width: 70%;
}
.about_section2 .contenedor-links h2 {
  color: #fff;
  margin-top: 5px;
  text-align: center;
}
.about_section2 .contenedor-links i {
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.about_section2 .contenedor-links .fa-glasses {
  color: #eeeeee;
}
.about_section2 .contenedor-links .fa-thumbs-up {
  color: #6666e9;
}
.about_section2 .contenedor-links .fa-handshake {
  color: #6666e9;
}

@media screen and (max-width: 950px) {
  .about_section .about_container {
    margin-bottom: 200px;
  }

  .about_section2 {
    width: 100%;
  }
  .about_section2 .contenedor-links {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .about_section .about_container {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .about_section2 .contenedor-links {
    height: 600px;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }
  .about_section2 .contenedor-links p {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .about_section2 .contenedor-links {
    height: 700px;
  }
}
.container_rank {
  width: 100%;
  background: #060E26;
  height: 700px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.container_rank .text_rank {
  width: 45%;
  height: 600px;
}
.container_rank .text_rank h2 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.container_rank .text_rank p {
  font-size: 15px;
  margin: 0 auto;
  width: 60%;
  color: #fff;
  font-weight: 300;
}

@media screen and (max-width: 950px) {
  .section_rank .container_rank .images_rank img {
    width: 80%;
  }
  .section_rank .container_rank .text_rank {
    width: 60%;
  }
  .section_rank .container_rank .text_rank h2 {
    font-size: 40px;
  }
  .section_rank .container_rank .text_rank p {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .section_rank .container_rank {
    height: 800px;
    flex-direction: column-reverse;
  }
  .section_rank .container_rank .images_rank {
    margin-left: 100px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .section_rank .container_rank .text_rank {
    margin-top: 10px;
    width: 80%;
  }
}
a {
  text-decoration: none;
}
a .btn {
  position: relative;
  display: block;
  height: 50px;
  width: 150px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}
a .btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}
a .btn--1::before {
  width: 0;
  height: 100%;
}
a .btn--1:hover {
  color: #434343;
}
a .btn--1:hover::before {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
